{% extends 'base.html' %}

{% block content %}

<p>{{ habit.name }} {{ habit.target}} {{ habit.unit_of_measure }}</p>

<p>Daily Records:</p>
    {% for record in habit.records.all %}
        <li><a href="{% url 'dailyrecord_detail' pk=habit.pk %}">{{ record.completed_date }}</a> : {{ record.amount }} {{ habit.unit_of_measure}} </li>
    {% endfor %}

    <p><a href="{% url 'create_dailyrecord' %}">Add a daily record</a></p>

    <p><a href="{% url 'edit_habit' habitpk=habit.pk %}">EDIT HABIT</a></p>

    <p><a href="{% url 'delete_habit' habitpk=habit.pk %}">DELETE HABIT</a></p> 
{% endblock %}