{% extends 'base.html' %}

{% block content %}

<p>{{ habit.name }} {{ habit.target}} {{ habit.unit_of_measure }}</p>

<p>Daily Records:</p>
<table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    {% for record in habit.records.all %}
        
        <tr>
            <td>{{ record.completed_date }}</td> <td>{{ record.amount }} {{ habit.unit_of_measure}}</td>
        </tr>
        
    {% endfor %}

</table>

    <p><a href="{% url 'create_dailyrecord' %}">Add a daily record</a></p>

    <p><a href="{% url 'edit_habit' habitpk=habit.pk %}">EDIT HABIT</a></p>

    <p><a href="{% url 'delete_habit' habitpk=habit.pk %}">DELETE HABIT</a></p> 
{% endblock %}